* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.7em;
  color: #7f8c8d;
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #34495e;
}

.custom-restricted-width {
    display: inline-block;
}

.say-no-to-text-decoration {
  text-decoration: none;
}

.contact-top-padding {
  padding-top: 40px;
}

.view-all {
  font-size: 14px;
  margin-left: 0px;
  width: 100px;
  border: 2px #34495e solid;
  border-radius: 3px;
  text-transform: uppercase;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.portfolio-border {
  margin: 8px;
  border: 1px  #E0E0E0 solid;
  border-radius: 2px;
}

.portfolio-top-padding {
  padding-top: 60px;
}

.about-me-top-padding {
  padding-top: 40px;
}

.pure-menu-item {
  font-size: 110%;
}

.l-box {
  padding: 1em;
}

.l-box-lrg {
  padding: 2em;
}

.is-center {
  text-align: center;
}

.is-left {
  text-align: left;
}

.is-right {
  text-align: right;
}

.pure-button {
  background-color: #1f8dd6;
  color: white;
  padding: 2em;
  margin: 2em;
  border-radius: 5px;
}

a.pure-button-primary {
  background: white;
  color: #1f8dd6;
  border-radius: 5px;
  font-size: 120%;
}

.home-menu {
  padding-right: 0.3em;
  padding-left: 0.3em;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.home-menu {
  background: white;
}

.pure-menu.pure-menu-fixed {
  border-bottom: none;
  z-index: 4;
}

.home-menu .pure-menu-heading {
  color: #707070;
  font-weight: 400;
  font-size: 120%;
}

.home-menu .pure-menu-selected a {
  color: #B0B0B0;
}

.home-menu a {
  color: #B0B0B0;
}

.home-menu li a:hover,
.home-menu li a:focus {
  background: none;
  border: none;
  color: black;
}

.splash-container {
  background: #F8F8F8;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 88%;
  top: 0;
  left: 0;
  position: fixed !important;
}

.splash {
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}

.splash-head {
  font-size: 20px;
  font-weight: bold;
  color: black;
  border: 3px #686868 solid;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
}

.splash-subhead {
  color: black;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

.content {
  border-bottom: 1px #E0E0E0 solid;
  margin-left: 50px;
  margin-right: 50px;
}

.content-paragraph {
  font-size: 17px;
}

.content-wrapper {
  position: absolute;
  top: 87%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: white;
}

.content-head {
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}

.content-head2 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding-left: 15px;
}

.content-head-ribbon {
  color: white;
}

.content-subhead {
  font-size: 30px;
  font-weight: 100;
  color: #585858;
}

.custom-restricted-width {
  display: inline-block;
  width: 14em;
}

.ribbon {
  background: #2d3e50;
  color: #aaa;
}

.footer {
  background: #111;
}

@media (min-width: 48em) {
  body {
    font-size: 16px;
  }
  .content {
    padding: 1em;
  }
  .home-menu {
    text-align: left;
  }
  .home-menu ul {
    float: right;
  }
  .splash {
    width: 50%;
    height: 50%;
  }
  .splash-head {
    font-size: 250%;
  }
  .l-box-lrg {
    border: none;
  }
}

@media (min-width: 78em) {
  .splash-head {
    font-size: 300%;
  }
}
